.typed-cursor {
    animation: 1.5s ease 0s normal none infinite running blink;
    opacity: 1;
}
section.intro::after, section.intro::before {
    content: " ";
    display: table;
}
section.intro::after {
    clear: both;
}
section.intro div.search-offer .box {
    background: rgba(155, 155, 155, 0.7) none repeat scroll 0 0;
    border-radius: 5px;
    margin-bottom: 4px;
    max-width: 260px;
    padding: 17px 14px 8px;
    position: relative;
}
section.intro div.intro-text h1 {
    color: #fff;
    font-family: Open Sans;
    font-size: 50px;
    font-weight: 600;
    line-height: 35px;
    padding-left: 0;
    padding-top: 240px;
}
@media (max-width: 540px) {
section.intro div.intro-text h1 {
    line-height: 20px;
}
}
section.intro div.intro-text h1 + p {
    color: #fff;
    font-size: 35px;
    padding-left: 0;
}
section.intro div.search-offer {
    margin-top: 150px;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}